@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Android;
    src: url(fonts/idroid.otf);
    font-weight: normal;
    font-style: normal;
}

:root {
    /* variaveis em css */
    --cor0: #ebe5c5;
    --cor1: #84e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", "cursive";
    --fonte-android: "Android", "cursive";
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
}

header {
    padding-top: 50px;
    text-decoration: none;
    background-image: linear-gradient(to top, var(--cor5), var(--cor2));

    min-height: 150px;
}

header h1 {
    font-family: var(--fonte-destaque);
    padding-bottom: 50px;
    text-align: center;
    color: white;
    font-size: 3em;
}

header p {
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    margin: auto;
    max-width: 500px;
}

header nav {
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 1em;
}

header nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

header nav a:hover {
    background-color: var(--cor5);
    color: var(--cor1);
}

main img {
    width: 100%;
}

main picture img.pequeno {
    width: 50%;
    /* padrao é inline, ai para ocupar a linha inteira um uso o block */
    display: block;
    margin: auto;
}

main {
    background-color: white;
    margin: auto;
    padding: 20px;
    /* 
    na ordem: 
    1- espalhamento horizontal
    2- espalhamento vertical 
    3- espalhamento
    4- cor
    */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.500);

    min-width: 300px;
    max-width: 800px;
}


main h1 {
    font-family: var(--fonte-android);
    padding-top: 10px;
    color: var(--cor5);
    text-align: left;
    padding-left: 10px;
}

main h2 {
    font-family: var(--fonte-android);
    padding-left: 10px;
    background-color: var(--cor1);
    margin-left: 5px;
    margin-right: 5px;
    color: var(--cor5);
    text-align: left;
    background-image: linear-gradient(to right, var(--cor1), var(--cor0));
}

main p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
    text-indent: 20px;
}

#extra {
    border-radius: 10px;
    margin: 20px;
    background-color: var(--cor1);
}

#extra h3 {
    border-radius: 5px;
    color: white;
    background-color: var(--cor4);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#extra p {
    text-align: justify;
    text-indent: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#extra ul li abbr {

    text-decoration: none;
}

footer p {
    background-color: var(--cor5);
    text-align: center;
    color: white;
    padding: 10px;
}

footer p a {
    color: white;
}

a {
    text-decoration: none;

}

a:hover {
    color: var(--cor3);
}