@charset "UTF-8";

/* 
    personar via id 
    id em html é "#" em css
    class em html é "." em css

    só posso usar um id por arquivo html, por boas praticas
    classes podem ser multiplos

*/

body {
    background-color: rgb(205, 255, 202);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 128, 0);
}

h2 {
    color: rgb(73, 109, 71);
}

h2.basico {
    color: rgb(106, 206, 106);
}

h2.intermediario {
    color: rgb(108, 106, 206);
}

h2.avancado {
    color: rgb(206, 106, 106);
}


h1#principal {
    color: white;
    background-color: rgb(0, 128, 0);
    text-align: center;
}